.vin-video {
  max-width: 320px;

  @media screen and (min-width: 768px) {
    max-width: 360px;
  }

  .vin-video__thumbnail {
    border-radius: 8px;
    object-fit: cover;
    background-color: hsl(0, 0%, 16%);
    max-width: 320px;
    max-height: 160px;

    @media screen and (min-width: 768px) {
      max-width: 360px;
      max-height: 200px;
    }
  }

  .vin-video__details {
    display: flex;
    margin-top: 8px;
  }

  .vin-video__author-thumbnail {
    width: 36px;
    height: 36px;
    border-radius: 50%
  }

  .vin-video__title {
    font-size: 1.6rem;
    color: #fff;
    margin: 0 0 4px 0;
  }

  .vin-video__channel-title {
    font-size: 1.4rem;
    color: #aaa;
  }

  .vin-video__info {
    margin-left: 8px;
    width: 100%;
  }

  .vin-video__statistics {
    font-size: 1.4rem;
    color: #aaa;
  }

  .vin-video__separator {
    margin: 0 4px
  }

}

.vin-video__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05)
  }
}